@import "tailwindcss";

@theme {
    --primary-color: #306a62;
    --primary-color-light: #4CB463;
    --primary-color-light-2: #CBF9BD;
    --primary-color-dark: #0f2b28;
    --secondary-color: #f5f5f5;
    --tertiary-color: #fff0e4;
    --text-primary: #030000;
    --text-secondary: #424141;
    --warn-color-light: #F9F5BD;
    --danger-color-light: #DC4747;
    --text-warn-color: #F9F5BD;
    --text-danger: #DC4747;
}

.btn-primary {
    background-color: var(--primary-color);
    @apply transition-all duration-300 cursor-pointer;
}

.btn-primary:hover {
    background-color: #264e48;
}

.btn-primary-outline {
    background-color: transparent;
    border: var(--primary-color) 1px solid;
    @apply transition-all duration-300 cursor-pointer;
}

.btn-primary-outline:hover {
    color: #264e48;
}

.btn-danger {
    background-color: var(--danger-color-light);
    @apply transition-all duration-300 cursor-pointer;
}

.btn-danger:hover {
    background-color: #b32c2c;
}

.link {
    @apply transition-all duration-300
}

.modal {
    background-color: rgba(0, 0, 0, 0.55);
    @apply fixed h-full;
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.animate-fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.sidebar-link-active {
    border-right-color: var(--primary-color);
    @apply flex items-center gap-2 text-lg font-semibold px-4 border-r-2
}

.sidebar-link {
    @apply flex items-center gap-2 font-thin text-lg px-4;
}

.color-primary {
    color: var(--primary-color);
}

.paginator-dashboard {
    @apply px-3 py-1 border rounded-sm cursor-pointer transition-all duration-300 border-[#464646];
}

.paginator-dashboard:hover {
    @apply bg-[#464646] text-white;
}

.paginator-dashboard-placeholder {
    @apply px-3 py-1 border rounded-sm border-[#464646] bg-[#f5f5f5] text-[#424141] cursor-not-allowed;
}

.active-paginator-dashboard {
    @apply px-3 py-1 border rounded-sm border-[#464646] bg-[#464646] text-white cursor-not-allowed;
}